body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* div {
    outline: 1px solid red;
} */

a {
    text-decoration: none;
}

a,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

img {
    width: 500px;
}

.header,
.footer,
.navbar {
    background-color: #1f2937;
    color: #f9faf8;
    padding-right: 300px;
    padding-left: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    margin-bottom: 10px;
}

.button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    width: 180px;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    width: 800px;
    display: flex;
}

.quote-name {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
    padding-right: 550px;
}

.menu-title {
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.menu {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.menu-item {
    max-width: 200px;
    padding-bottom: 100px;
}

.menu-text {
    text-align: center;
}

.peach,
.chicken,
.ice-cream,
.coffee {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 16px;
    background-size: cover;
}

.peach {
    background-image: url("images/michael-waddell-IDs8ajdEUjg-unsplash.jpg");
}

.chicken {
    background-image: url("images/jessica-kantak-bailey-eBjjnr5pwE0-unsplash.jpg");
}

.ice-cream {
    background-image: url("images/leighann-blackwood--cQ2kQqpEB8-unsplash.jpg");
}

.coffee {
    background-image: url("images/nathan-dumlao-nBJHO6wmRWw-unsplash.jpg");
}
